.make_q_alert {
    width: 90%;
    margin: 20px auto 15px auto;
    background-color: #3b82f6;
    border-bottom: 1px solid #3b82f6;
    color: #fff;
    direction: rtl;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
}