header {
    background-color: #fff;
    width: 90%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
}

.header_logo {
    width: 150px;
    height: 55px;
    margin-left: 20px;
    cursor: pointer;
}

.sign_in ,
.sign_up {
    margin-right: 20px;
    background-color: #3b82f6;
    border: none;
    border-radius: 3px;
    padding: 3px 8px;
    color: #fff;
    border: 1px solid #3b82f6;
    font-size: 17px;
    cursor: pointer;
    transition: .2s;
}
.sign_in:hover {
    background: none;
    color: #3b82f6;
}

.sign_up {
    margin-right: 8px;
    background: none;
    color: #3b82f6;
}
.sign_up:hover {
    background-color: #3b82f6;
    color: #fff;
}