.filter_box {
    width: 100%;
}

.filter_box_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
    width: 100%;
}

.search_box {
    width: 100%;
}

.search_form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
}

.search_input {
    padding: 15px 13px 15px 50px;
    border-radius: 5px;
    outline: 0;
    direction: rtl;
    font-size: 15px;
    width: 100%;
    border: 1px solid rgb(226, 226, 226);
}
.search_input:focus {
    border-color: #3b82f6;
}

.search_icon {
    background: none;
    display: flex;
    font-size: 20px;
    color: rgb(178, 178, 178);
    transition: .2s;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 10px;
}
.search_icon:hover {
    color: #3b82f6;
}
.search_layer {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
    width: 50%;
}

.filter_layer {
    display: none;
}
.filter_layer {
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.filter_b {
    padding: 13px;
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
    cursor: pointer;
    transition: .2s;
    user-select: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.filter_b:hover {
    border-color: #3b82f6;
    color: #3b82f6;
}
.filter_b span {
    border-left: 1px solid #4a4e69;
    padding-left: 8px;
    margin-left: 10px;
}
.filter_box_1 span.show {
    border-color: #3b82f6;
}
.filter_box_2 span.show {
    border-color: #3b82f6;
}
.filter_tit_icon {
    font-size: 14px;
    border: 1px solid #4a4e69;
    padding: 5px;
    border-radius: 2px;
}
.filter_tit_icon.show {
    border-color: #3b82f6;
}
.filter_box_2 {
    margin-right: 20px;
}

.filter_after {
    display: none;
}
.filter_after_show {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black_layer {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: .5;
    position: fixed;
    top: 0;
}
.time_filter_content {
    background-color: #fff;
    position: fixed;
    bottom: 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}
.time_filter_content_tit {
    font-size: 24px;
    font-weight: bold;
    color: #22223b;
}
.time_filters {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}
.time_filter {
    background-color: #3b82f6;
    color: #fff;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    transition: .2s;
    cursor: pointer;
}
.time_filter:hover {
    background-color: #0062ff;
}
.close_icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
    padding: 4px 7px;
    border-radius: 3px;
}
.close_icon:hover {
    color: #fff;
    background-color: red;
}

.best_users_search_form {
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
}

.best_users_search_input {
    border: none;
    padding: 9px 13px;
    background-color: #fff;
    border-radius: 5px;
    outline: 0;
    direction: rtl;
    font-size: 15px;
    width: 500px;
    border: 1px solid rgb(226, 226, 226);
}

.best_users_search_icon {
    background-color: #fff;
    padding: 10.8px;
    display: flex;
    border-radius: 5px;
    font-size: 20px;
    color: #3b82f6;
    margin-right: 5px;
    transition: .2s;
    cursor: pointer;
    border: 1px solid rgb(226, 226, 226);
}
.best_users_search_icon:hover {
    color: #fff;
    background: #3b82f6;
    border-color: #3b82f6;
}

.scroll_btn {
    color: #fff;
    background-color: #3b82f6;
    font-size: 22px;
    position: fixed;
    left: 70px;
    bottom: 170px;
    cursor: auto !important;
    transition: .2s;
    opacity: 0;
    padding: 10px;
    width: 55px;
    border-radius: 5px;
}
.scroll_btn.show {
    opacity: 1;
    cursor: pointer !important;
}

/* responsive */
@media (max-width: 899px) {
    .search_layer_show {
        justify-content: flex-end;
        padding-right: 42px;
    }
}
@media (max-width: 690px) {
    .questions {
        width: 65%;
        margin-right: 35px;
    }
    .time_filter_content {
        width: 350px;
    }
}