@font-face {
    font-family: Vazir-Bold;
    src: url(../font/Vazir-Bold.woff2);
}
@font-face {
    font-family: Vazir-Variable;
    src: url(../font/Vazir-Variable.woff2);
}

.main_content {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.questions {
    border-width: 0 0 0 2px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.q_box {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.q_top_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
    border-bottom: 1px solid #eee;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
}

.title {
    color: #4a4e69;
    font-size: 20px;
    font-family: Vazir-Bold;
    width: 75%;
    cursor: pointer;
    user-select: none;
    direction: rtl;
    transition: .2s;
}
.title:hover {
    color: #3b82f6;
}

.creator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    direction: rtl;
}

.creator_profile {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
}

.creator_inf {
    margin: 0 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    direction: rtl;
}

.creator_name {
    margin: 0;
    color: #4a4e69;
    user-select: none;
}
.creator_name:hover {
    color: #3b82f6;
}

.who_create {
    font-size: 13px;
    margin: 0;
    color: #adb5bd;
    user-select: none;
}


.q_bottom_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.description {
    color: #4a4e69;
    direction: rtl;
}

.tags {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    direction: ltr;
}

.tag {
    background-color: #eee;
    padding: 3px 6px;
    border-radius: 3px;
    cursor: pointer;
    font-family: Vazir-Variable;
    margin: 8px 8px 0 0;
    font-size: 14px;
    color: #4a4e69;
    transition: .2s;
}
.tag:hover {
    background-color: #4a4e69;
    color: #fff;
}

.q_icons {
    width: 50%;
    direction: rtl;
    display: flex;
    margin: 20px 0 0 0;
}

.q_icon_heart {
    color: #ccc;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    margin-right: 5px;
}
.q_icon_heart_selected {
    color: red;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    margin-right: 5px;
}

.q_icon_bookmark {
    color: #ccc;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 19px;
    border-radius: 5px;
}
.q_icon_bookmark_selected {
    color: #4a4e69;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 19px;
    border-radius: 5px;
}

/* responsive */
@media (max-width: 1280px) {
    .questions {
        width: 79.5%;
    }
}
@media (max-width: 1210px) {
    .questions {
        width: 78.5%;
    }
}
@media (max-width: 1155px) {
    .questions {
        width: 77%;
    }
}
@media (max-width: 1085px) {
    .questions {
        width: 75.5%;
    }
}
@media (max-width: 1020px) {
    .questions {
        width: 74%;
    }
}
@media (max-width: 960px) {
    .questions {
        width: 72.5%;
    }
}
@media (max-width: 910px) {
    .questions {
        width: 71%;
    }
}
@media (max-width: 860px) {
    .questions {
        width: 69%;
    }
}
@media (max-width: 810px) {
    .questions {
        width: 67%;
    }
}
@media (max-width: 755px) {
    .questions {
        width: 65%;
    }
}
@media (max-width: 715px) {
    .questions {
        width: 63%;
    }
}
@media (max-width: 680px) {
    .questions {
        width: 61%;
    }
}
@media (max-width: 645px) {
    .questions {
        width: 58.5%;
    }
}
@media (max-width: 600px) {
    .questions {
        width: 55.5%;
    }
}
@media (max-width: 570px) {
    .q_top_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .creator {
        flex-direction: column-reverse;
    }
    .creator_inf {
        align-items: center;
        margin: 5px 0 0 5px;
    }
}
@media (max-width: 565px) {
    .questions {
        width: 52.5%;
    }
}
@media (max-width: 530px) {
    .questions {
        width: 49%;
    }
}
@media (max-width: 500px) {
    .questions {
        width: 46%;
    }
}